@charset "utf-8";
.wrapper
.regbox{width:240px;margin:30px auto;border:1px solid #eee;}
.error{color:red;margin-top:5px;}
input.error{border:1px solid red;}
/*p.error{display:none;}*/
p.success{color:#00FF00;/*3c763d*/}
.input_result{position:relative;top:-27px;left:220px;}
form div.form-group{margin-bottom:15px;}
form div.has-success{margin-bottom:-12px;}
.w100w{width:100%;box-sizing: border-box;}